.portfolio_items_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 100px;
  margin-top: 100px;
}

.tab_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.tab__btn__active {
  color: #655aff !important;
}

.btn-block {
  background: #090b1b;
  color: white;
  border: 2px solid #657aff;
  font-size: 16px;
  padding: 11px 20px 11px 20px;
  border-radius: 4px;
}

.btn-block:hover {
  cursor: pointer;
  background: #655aff3b !important;
}

.grids {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid_container_1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-sizing: border-box;
  column-gap: 20px;
  row-gap: 20px;
}

@media screen and (max-width: 1280px) {
  .grid_container_1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 480px) {
  .grid_container_1 {
    grid-template-columns: 1fr;
  }
}
