.App {
  /* padding: 0.5rem ; */
  overflow: hidden;
  background-color: #090b1b;
  color: white;
  width: 100%;
}

.button {
  border: 2px solid #657aff;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  padding: 11px 20px 11px 20px;
  background-color: #657aff;
}

.button:hover {
  background: #090b1b;
  cursor: pointer;
  color: white;
  border: 2px solid #657aff;
}

.progress-bar {
  position: fixed;
  margin-top: 4rem;
  left: 0;
  right: 0;
  height: 10px;
  background: #657aff;
  transform-origin: 0%;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  .progress-bar {
    margin-top: 5rem;
  }
}
